<form action="" method="">
    <label for="nombre">Nombre del producto: </label>
     <input type="text" name="nombre" id="nombre">

     <div><label>Categoría:
      <input list="editCategories" name="Categorías" /></label>
      <datalist id="editCategories">
        <option value="Lentes de sol">
        <option value="Marcos para receta">
        <option value="Lentes gaming">
        <option value="Lentes de contacto">
      </datalist>
    </div>
     
     <label for="precio">Precio: </label>
     <input type="number" name="precio" id="precio">
     
     <label for="descripcion">Descripción del producto:</label>
     
     <textarea name="descripcion" id="descripcion" placeholder="Escribí una descripción para este producto" cols="30" rows="10"></textarea>
                   
     <label for="archivos">Subí fotos del producto:</label><br>
      <input type="file" name="archivos" id="archivos" multiple>
    
    </div>