    <header>
        <div class="container-1">

            <a href="/"> <img class="logo" src="/image/logo.png" alt="Logo"></a>
        </div>
        <div class="container-2">
            <p class="number">ADMINISTRADOR</p>
             <br>
            <form action="/search" method="GET">
                <div class="barra-busqueda">
                    <input class="search"  name="keywords" placeholder="Buscá un producto">
                    <button type="submit" class="lupa" onclick="mostrar()"><i class="fa fa-search "></i></button>
                    <button type="submit" class="lupa-1" ><i class="fa fa-search "></i></button>
                </div>
            </form>
            
        </div>
        <div id="buscador">
                <input class="search-2" type="search" placeholder="Buscá un producto">
                <button class="lupa-2"><i class="fa fa-search "></i></button>
        </div>
        <div class="container-3">
             <% if (typeof session.user != "undefined" ) { %>
                <ul>
                    <li> <a >¡Bienvenido <%= session.user.name %>! </a>
                        <a  href="/users/user"><img class="avatar-header" src="/image/userAvatars/<%=session.user.avatar %>" alt="" width="50px"></a>
                        <a class="tipo" href="/users/logout">Cerrar Sesion</a></li>
                 </ul>
              <% }else{ %>
                <ul>
                    <li><a href="/users/login">Inicia sesión</a></li>
                     <li><a href="/users/addUser">Registrate</a></li>
                </ul>
    <% }  %> 
</div> 
</div>




        <div class="container_4">
            
             <% if (typeof session.user == "undefined" || session.user.rol === 'ROL_USER') { %>
            <div class="trolley">
                <a href="/trolley">
                
                    <i class="sixeC fa fa-shopping-cart"></i>
                    <p class="carrito">Mi carrito</p>
                </a>
                <% }else{ %>
                <ul class="ulMyDiv">
                     <li class=""><a class="btn mydiv" href="/admin/listado">ADMIN</a></li>
                </ul>
    <% }  %> 
            </div>

        </div>

        <script>
    function mostrar() {
        var x = document.getElementById("buscador");
           if (x.style.display === "block") {
           x.style.display = "none";
           } else {
                  x.style.display = "block";
    }
}
    
    
        </script>
    </header>

