<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>GemmaGlass</title>
</head>

<body>

    <header>
        <div class="container-burger"><i class="fa fa-bars"></i></div>
        <div class="container-1">

            <a href="/"> <img class="logo" src="/image/logo.png" alt="Logo"></a>
        </div>
        <div class="container-2">
            <p class="number">(011)15555555</p> <br>
            <div class="barra-busqueda">
                <input class="search" type="search" placeholder="Buscá un producto">
                <button class="lupa"><i class="fa fa-search "></i></button>
            </div>
        </div>
        <div class="container-3">
            <ul>
                <li><a href="/login">Inicia sesión</a></li>
                <li><a href="/registro">Registrate</a></li>
            </ul>
        </div>
        <div class="container-4">
            <a href="/carrito">
                <i class="fa fa-shopping-cart"></i> <br> Mi carrito
            </a>

        </div>
        <nav class="container-nav">
            <ul>
                <a href="/product"> <li>Lentes recetados</li></a>
                <a href=""> <li>Lentes de sol</li></a>
                <a href=""> <li>Lentes de contacto</li></a>
                <a href=""> <li>Lentes gaming</li></a>
                <a href=""> <li>Ofertas</li></a>
                <a href="/turnos"> <li>Pedí una consulta</li></a>
            </ul>
        </nav>

    </header>
</body>
</html>


<footer>

</footer>
