<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include("partials/head")  %> 
<!-- fin head-->
<body class="editBody">

  <%- include('./partials/header.ejs') %> 

    <h2 class="editTitle">Agregá un producto:</h2>

    <div class="update">
    <h3 class="editSubtitles">Ingresá la información del producto:</h3>
    <%- include('./partials/editForm.ejs') %> 

          <div class="buttons">
         <button class="btn">Aceptar</button>
         <button class="btn" type="cancel">Cancelar</button>
        </div>

        <%- include('./partials/footer.ejs') %> 
</body>
</html>