
    <!DOCTYPE html>
    <html lang="es">
    <!-- head -->
    <%- include("partials/head")  %> 
    <!-- fin head-->
    <!-- <script src='/js/confirmDelete.js' defer></script> -->
<body>
    <%- include('./partials/headerAdmin.ejs') %>
    <%- include('./partials/listado.ejs') %>
    
    
    
    
    
    
</body>
</html>