<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include("partials/head")  %> 
<!-- fin head-->
<body>
    <%- include('./partials/header.ejs') %>

    <script src='/js/troley.js' defer></script>
    <main>
        
        <div class="sect1">
            
        <h5 class="carritext">Mi carrito de compras</h5>
            
        </div>
       
        <div class="sect2">
            <h2>carrito vacio</h2>
            <!-- <div class="card1">
                <img class="imgCard" src="/image/img1.jpg" alt="producto">
                <div class="nameProd">
                    <h6 class="titleCar">Nombre del Producto</h6>
                    <span class="span1">aca va el name</span>
                </div>
                <div class="priceProd">
                    <h6 class="titleCar">Precio</h6>
                    <span class="span2">$0000.-</span>
                </div>
                <div class="discountProd">
                    <h6 class="titleCar">Descuento</h6>
                    <span class="span2">0%.-</span>
                </div>
                <div class="cantProd">
                    <h6 class="titleCar">Cantidad</h6>
                    <div class="masMenos">
                        <i class="far icon-menos"></i>
                        <input class="inputCant" type="text" name="" id="" value="1">
                        <i class="far icon-mas"></i>
                    </div>
                </div>
                <div class="endProd">
                    <div class="subTotal">
                        <h6 class="titleCar">Sub Total</h6>
                        <span class="span3">$0000.-</span>
                    </div>
                    <i class="far icon-trash"></i>
                </div>
            </div>  -->  
            <div class="anima">
               
            </div> 
        </div>
        
        
        <!-- <hr> -->
        <div class="sect3">
            <h5 class="subtotext">Total</h5>
            <span class="subtonum">$0000.-</span>
            
            <!-- <hr> -->
            <button class="botonCito pepe">Ir al pago</button>
            <div class="botonCito caca">ACEPTAR</div>
            <div>
                <span class="keep">Seguir comprando</span>    
            </div>
        </div>
        <!-- <hr> -->
                

    </main>
    
    <%- include('./partials/footer.ejs') %> 
</body>
</html>