<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Gemma | Carrito</title>
</head>
<body>
    <header>
        <div class="container-burger"><i class="fa fa-bars"></i></div>
        <div class="container-1">
    
            <a href=""> <img class="logo" src="../public/image/logo.png" alt="Logo"></a>
        </div>
        <div class="container-2">
            <p class="number">(011)15555555</p> <br>
            <div class="barra-busqueda">
                <input class="search" type="search" placeholder="Buscá un producto">
                <button class="lupa"><i class="fa fa-search "></i></button>
            </div>
        </div>
        <div class="container-3">
            <ul>
                <li><a href="#">Inicia sesión</a></li>
                <li><a href="#">Registrate</a></li>
            </ul>
        </div>
        <div class="container-4">
            <a href="#">
                <i class="fa fa-shopping-cart"></i> <br> Mi carrito
            </a>
    
        </div>
        <nav class="container-nav">
            <ul>
                <a href=""> <li>Lentes recetados</li></a>
                <a href=""> <li>Lentes de sol</li></a>
                <a href=""> <li>Lentes de contacto</li></a>
                <a href=""> <li>Lentes gaming</li></a>
                <a href=""> <li>Ofertas</li></a>
                <a href=""> <li>Pedí una consulta</li></a>
            </ul>
        </nav>
    
    </header>

    <main>
        <hr class="hrc">
        <div">
        <h2 class="carritext">Tu carrito</h2>
        <button class="uprBtn">Ir al pago</button>
        </div>
        <hr class="hrc">
        <div class="cartProduct">
            <img src="../public/image/1.jpg" alt="producto">
            <span class="span1">Nombre del producto</span>
            <span class="span2">$0000.-</span>
            <label for="cantidad">Cantidad</label>
            <input type="number" name="" id="" value="1">
            <span class="span3">$0000.-</span>
            <i class="fa fa-remove"></i>
        </div>
        <div class="cartProduct">
            <img src="../public/image/1.jpg" alt="producto">
            <span class="span1">Nombre del producto</span>
            <span class="span2">$0000.-</span>
            <label for="cantidad">Cantidad</label>
            <input type="number" name="" id="" value="1">
            <span class="span3">$0000.-</span>
            <i class="fa fa-remove"></i>
        </div>
        <div class="cartProduct">
            <img src="../public/image/1.jpg" alt="producto">
            <span class="span1">Nombre del producto</span>
            <span class="span2">$0000.-</span>
            <label for="cantidad">Cantidad</label>
            <input type="number" name="" id="" value="1">
            <span class="span3">$0000.-</span>
            <i class="fa fa-remove"></i>
        </div>
        <div class="cartProduct">
            <img src="../public/image/1.jpg" alt="producto">
            <span class="span1">Nombre del producto</span>
            <span class="span2">$0000.-</span>
            <label for="cantidad">Cantidad</label>
            <input type="number" name="" id="" value="1">
            <span class="span3">$0000.-</span>
            <i class="fa fa-remove"></i>
        </div subBar>
        <hr>
        <h2 class="subtotext">Subtotal</h2>
        <span class="subtonum">$0000.-</span>
        <h3 class="shipping">Calculá los gastos de envío en el próximo paso</h3>
        <hr>
        <button class="lowrbtn">Ir al pago</button>
        <div>
            <span class="keep">Seguir comprando</span>    
        </div>
        <hr>
                

    </main>
    
    <footer>
        <div class="footer-1">
          <h4>Métodos de pago</h4>
          <i class="fab fa-cc-visa"></i>
          <i class="fab fa-cc-mastercard"></i>
          <i class="fab fa-cc-amex"></i>
          </div>
  
  
        <div class="footer-2">
          <h4>Ayuda</h4>
          <ul>
            <a href=""> <li>¿Quienes somos?</li></a>
            <a href=""><li>Preguntas frecuentes</li></a>
            <a href=""><li>Sucursales</li></a>
          </ul>
        </div>
        
        <div class="footer-3">
          <h4>Contactanos</h4>
          <p>0800-0000-0000</p>
          <p>(011) 15555555</p>
          <a href="mailto: ejemplo@ejemplo.com"> ejemplo@ejemplo.com</a>
        </div>
  
        <div class="footer-4">
          <h4>Nuestras redes </h4>
          <a href=""><i class="fab fa-whatsapp"></i></a>
          <a href=""><i class="fab fa-facebook-square"></i></a>
          <a href=""> <i class="fab fa-instagram"></i></a>
          <a href=""> <i class="fab fa-twitter-square"></i> </a>
        </div>
  
  
  
    </footer>
</body>
</html>