<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include("partials/head")  %> 
<!-- fin head-->
<body>
    <%- include('./partials/header.ejs') %>

  
    <main>
        <hr class="hrc">
        <div">
        <h2 class="carritext">Tu carrito</h2>
        <button class="uprBtn">Ir al pago</button>
        </div>
        <hr class="hrc">
        <div class="cartProduct">
            <img src="/image/1.jpg" alt="producto">
            <span class="span1">Nombre del producto</span>
            <span class="span2">$0000.-</span>
            <label for="cantidad">Cantidad</label>
            <input type="number" name="" id="" value="1">
            <span class="span3">$0000.-</span>
            <i class="fa fa-remove"></i>
        </div>
        <div class="cartProduct">
            <img src="/image/1.jpg" alt="producto">
            <span class="span1">Nombre del producto</span>
            <span class="span2">$0000.-</span>
            <label for="cantidad">Cantidad</label>
            <input type="number" name="" id="" value="1">
            <span class="span3">$0000.-</span>
            <i class="fa fa-remove"></i>
        </div>
        <div class="cartProduct">
            <img src="/image/1.jpg" alt="producto">
            <span class="span1">Nombre del producto</span>
            <span class="span2">$0000.-</span>
            <label for="cantidad">Cantidad</label>
            <input type="number" name="" id="" value="1">
            <span class="span3">$0000.-</span>
            <i class="fa fa-remove"></i>
        </div>
        <div class="cartProduct">
            <img src="/image/1.jpg" alt="producto">
            <span class="span1">Nombre del producto</span>
            <span class="span2">$0000.-</span>
            <label for="cantidad">Cantidad</label>
            <input type="number" name="" id="" value="1">
            <span class="span3">$0000.-</span>
            <i class="fa fa-remove"></i>
        </div subBar>
        <hr>
        <h2 class="subtotext">Subtotal</h2>
        <span class="subtonum">$0000.-</span>
        <h3 class="shipping">Calculá los gastos de envío en el próximo paso</h3>
        <hr>
        <button class="lowrbtn">Ir al pago</button>
        <div>
            <span class="keep">Seguir comprando</span>    
        </div>
        <hr>
                

    </main>
    
    <%- include('./partials/footer.ejs') %> 
</body>
</html>