<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Gemma | Carrito</title>
</head>
<body>

<!-- header -->

<%- include("partials/header")  %> 
<!-- fin header  -->

    
    <main>
        <hr class="hrc">
        <div">
        <h2 class="carritext">Tu carrito</h2>
        <button class="uprBtn">Ir al pago</button>
        </div>
        <hr class="hrc">
        <div class="cartProduct">
            <img src="/image/1.jpg" alt="producto">
            <span class="span1">Nombre del producto</span>
            <span class="span2">$0000.-</span>
            <label for="cantidad">Cantidad</label>
            <input type="number" name="" id="" value="1">
            <span class="span3">$0000.-</span>
            <i class="fa fa-remove"></i>
        </div>
        <div class="cartProduct">
            <img src="/image/1.jpg" alt="producto">
            <span class="span1">Nombre del producto</span>
            <span class="span2">$0000.-</span>
            <label for="cantidad">Cantidad</label>
            <input type="number" name="" id="" value="1">
            <span class="span3">$0000.-</span>
            <i class="fa fa-remove"></i>
        </div>
        <div class="cartProduct">
            <img src="/image/1.jpg" alt="producto">
            <span class="span1">Nombre del producto</span>
            <span class="span2">$0000.-</span>
            <label for="cantidad">Cantidad</label>
            <input type="number" name="" id="" value="1">
            <span class="span3">$0000.-</span>
            <i class="fa fa-remove"></i>
        </div>
        <div class="cartProduct">
            <img src="/image/1.jpg" alt="producto">
            <span class="span1">Nombre del producto</span>
            <span class="span2">$0000.-</span>
            <label for="cantidad">Cantidad</label>
            <input type="number" name="" id="" value="1">
            <span class="span3">$0000.-</span>
            <i class="fa fa-remove"></i>
        </div subBar>
        <hr>
        <h2 class="subtotext">Subtotal</h2>
        <span class="subtonum">$0000.-</span>
        <h3 class="shipping">Calculá los gastos de envío en el próximo paso</h3>
        <hr>
        <button class="lowrbtn">Ir al pago</button>
        <div>
            <span class="keep">Seguir comprando</span>    
        </div>
        <hr>
                

    </main>
<!-- footer -->
<%- include("partials/footer")  %> 
<!-- fin footer  -->

</body>
</html>