<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!-- header -->

<header>
    <div class="container-burger"><i class="fa fa-bars"></i></div>
    <div class="container-1">

        <a href=""> <img class="logo" src="/image/logo.png" alt="Logo"></a>
    </div>
    <div class="container-2">
        <p class="number">(011)15555555</p> <br>
        <div class="barra-busqueda">
            <input class="search" type="search" placeholder="Buscá un producto">
            <button class="lupa"><i class="fa fa-search "></i></button>
        </div>
    </div>
    <div class="container-3">
        <ul>
            <li><a href="/login">Inicia sesión</a></li>
            <li><a href="/registro">Registrate</a></li>
        </ul>
    </div>
    <div class="container-4">
        <a href="/carrito">
            <i class="fa fa-shopping-cart"></i> <br> Mi carrito
        </a>

    </div>
    <nav class="container-nav">
        <ul>
            <a href=""> <li>Lentes recetados</li></a>
            <a href=""> <li>Lentes de sol</li></a>
            <a href=""> <li>Lentes de contacto</li></a>
            <a href=""> <li>Lentes gaming</li></a>
            <a href=""> <li>Ofertas</li></a>
            <a href="/turnos"> <li>Pedí una consulta</li></a>
        </ul>
    </nav>

</header>

<!-- fin header -->

    <!-- slider para descktop -->
<div class="body-detalle">
    <div class="containerSlide">
        <div class="title">
            <p class="name">nombre del producto</p>
        </div>
        <div class="pictures">
            <img class="images" id="images1" src="/image/1.jpg" alt="">
            <img class="images" id="images2" src="/image/2.jpg" alt="">
            <img class="images" id="images3" src="/image/3.jpg" alt="">
        </div>
     
        <nav class="navegadorImagenes">
            <ul class="menu">
                <li><a  href="#images1"><img class="mini" src="/image/1.jpg" alt=""></a></li>
                <li><a  href="#images2"><img class="mini" src="/image/2.jpg" alt=""></a></li>
                <li><a  href="#images3"><img class="mini" src="/image/3.jpg" alt=""></a></li>                      
            </ul>
        </nav>        
    </div>
    <!-- fin de slider para descktop -->
    <!-- bloque precio boton detalles desktop -->
    <div class="block2-desktop">
        <div class="price">
            <i class="fas fa-dollar-sign"></i>
            <h4>0000.-</h4>
        </div>
        <div class="button-buy">
            <button type="submit" class="btn btn-submit">comprar</button>
        </div>
        <div class ="detail">
            <h4>Detalles:</h4>
            <div>
                <p>material del marco:</p>                    
                <p>metal:</p>
            </div>
        </div>    
        <div class="info">
            <div>
                <h5>Información adicional</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, neque.</p>
            </div>            
        </div>           
        <div class="measures">
            <div>
                 <h4>Medidas:</h4>
                <div>
                    <p>alto del marco:</p>
                    <p>ancho del marco:</p>
                </div>                                        
            </div>                
         </div>
    </div>
    
    <!-- fin bloque precio boton detalles desktop -->

    <!-- bloque 3 postal desktop -->
    <hr class="hr-desktop">
    <div class="block3-postal">         
        <div class="postal-code"> 
            <p>Calculá el costo de envío, ingresá tu código postal:</p>
            <input type="text">
            <p>O retirá gratis en nuestras sucursales</p>
            <ul class="branch-office">
                <a href=""><li>San cristobal</li></a>
                <a href=""><li>Villa Urquisa</li></a>
                <a href=""><li>Palermo</li></a> 
            </ul>
        </div>
        <div class="pay"> 
            <div class="hs3">
                <h3>6 cuotas sin interes de $0000</h2>
                <h3>Metodos de pago</h2>
            </div>
            <div class ="credit-card">      
                <div>
                    <i class="fab fa-cc-visa"></i>                
                </div>
                <div>
                     <i class="fab fa-cc-mastercard"></i>                 
                </div>
                <div>
                    <i class="fab fa-cc-amex"></i>                
                </div>
            </div>
         </div>
         <div class="social-media">
            <ul>                    
                <li><a href=""><i class="fab fa-whatsapp"></i></a></li>                    
                <li><a href=""><i class="fab fa-facebook-square"></i></a></li>                    
                <li><a href=""><i class="fab fa-instagram"></i></a></li>                    
                <li><a href=""><i class="fab fa-twitter-square"></i></a></li>                    
            </ul>
        </div>        
    </div>
    <hr class="hr-desktop">
    <!-- fin bloque 3 postal desktop --> 

    <!-- cuerpo mobile -->  
    <div class="block1-body-mobile">
        <div class="ani">
            <div class="container">
                <div id="slider"></div>
            </div>
        </div> 
        <div class="price"> 
            <i class="fas fa-dollar-sign"></i>
             <h4>0000.-</h4>
        </div>
        <div class="pay">   
            <div class="hs5">
                <h5>6 cuotas sin interes de 0000</h5>
                <h5>Metodos de pago</h5>
            </div>
            <div class ="credit-card">      
                <div>
                    <i class="fab fa-cc-visa"></i>                
                </div>
                <div>
                     <i class="fab fa-cc-mastercard"></i>                 
                </div>
                <div>
                    <i class="fab fa-cc-amex"></i>                
                </div>
            </div>
        </div>
        <div class="button-buy">  
            <button type="submit" class="btn btn-submit">comprar</button>
        </div>
        <div class="postal-code">       
            <p>Calculá el costo de envío, ingresá tu código postal:</p>
            <input  type="text" >
            <p>O retirá gratis en nuestras sucursales</p>
            <ul class="branch-office">
                <a href=""><li>San cristobal</li></a>
                <a href=""><li>Villa Urquisa</li></a>
                <a href=""><li>Palermo</li></a> 
            </ul>
        </div>
        <hr class="hr-mobile">    
        <div class="details">       
            <div class ="detail">
                <h4>Detalles:</h4>
                <div>
                    <p>material del marco:</p>                    
                    <p>metal:</p>
                </div>
            </div>    
            <div class="info">
                <h5>Información adicional</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, neque.</p>
            </div>           
                <div class="measures">
                    <div>
                        <h4>Medidas:</h4>
                        <div>
                            <p>alto del marco:</p>
                            <p>ancho del marco:</p>
                        </div>                                        
                    </div>                
                </div>
        </div>   
        <div class="social-media">
            <div class="share">
                <p>compartir</p>
            </div>
            <ul>                    
                <li><a href=""><i class="fab fa-whatsapp"></i></a></li>                    
                <li><a href=""><i class="fab fa-facebook-square"></i></a></li>                    
                <li><a href=""><i class="fab fa-instagram"></i></a></li>                    
                <li><a href=""><i class="fab fa-twitter-square"></i></a></li>                    
            </ul>
        </div>
        <hr class="hr-mobile">    
        <div class="separator">
            <div class="sold-separator">
                <hr>
                <p>los más vendidos</p>
                <hr>
            </div>
        </div>    
    </div>  
    <!-- fin de cuerpo mobile -->
    

    <!-- bloque de mas vendidos -->

    <div class="block-best-sellers"> 
        <div class="product">
            <div class="twist" >
                <a class="link-twist" id=twist1 href="">
                    <img class="frontal" src="/image/logoI.jpg"  alt="">
                    <img class="rear" src="/image/2.jpg"  alt="">
                </a>                            
            </div>
            <div class="best-sellers">
                <h5>nombre del producto</h5>
                <div class="price">                
                    <i class="fas fa-dollar-sign"></i>
                    <h4>0000.-</h4>
                </div>
            </div>
        </div> 
   
            
        <hr class="hr-mobile">
        <div class="product">
            <div class="twist" >
                <a class="link-twist" id=twist1 href="">
                    <img class="frontal" src="/image/3.jpg"  alt="">
                    <img class="rear" src="/image/4.jpg"  alt="">
                </a>                            
            </div>
            <div class="best-sellers">
                <h5>nombre del producto</h5>
                <div class="price">                
                    <i class="fas fa-dollar-sign"></i>
                    <h4>0000.-</h4>
                </div>
            </div>
        </div>        
        <hr class="hr-mobile">
        <div class="product">
            <div class="twist" >
                <a class="link-twist" id=twist1 href="">
                    <img class="frontal" src="/image/5.jpg"  alt="">
                    <img class="rear" src="/image/6.jpg"  alt="">
                </a>                            
            </div>
            <div class="best-sellers">
                <h5>nombre del producto</h5>
                <div class="price">                
                    <i class="fas fa-dollar-sign"></i>
                    <h4>0000.-</h4>
                </div>
            </div>
        </div>        
        <hr class="hr-mobile">
        <div class="product">
            <div class="twist" >
                <a class="link-twist" id=twist1 href="">
                    <img class="frontal" src="/image/7.jpg"  alt="">
                    <img class="rear" src="/image/8.jpg"  alt="">
                </a>                            
            </div>
            <div class="best-sellers">
                <h5>nombre del producto</h5>
                <div class="price">                
                    <i class="fas fa-dollar-sign"></i>
                    <h4>0000.-</h4>
                </div>
            </div>
        </div>        
        <hr class="hr-mobile">
        <div class="product">
            <div class="twist" >
                <a class="link-twist" id=twist1 href="">
                    <img class="frontal" src="/image/9.jpg"  alt="">
                    <img class="rear" src="/image/10.jpg"  alt="">
                </a>                            
            </div>
            <div class="best-sellers">
                <h5>nombre del producto</h5>
                <div class="price">                
                    <i class="fas fa-dollar-sign"></i>
                    <h4>0000.-</h4>
                </div>
            </div>
        </div>        
        <hr class="hr-mobile">        
    </div>

    <!-- fin de bloque de mas vendidos -->
    <!-- bloque mmas vendidos desktop -->

    <div class="block-best-sellers-desktop">
        <div class="container">
            <div class="images">
                <a class="image"  href="">
                    <img class="frontal" src="/image/logoI.jpg"  alt="">
                    <img class="rear" src="/image/2.jpg"  alt=""> 
                </a>                       
            </div>
            <div class="sellers">
                <h5>nombre del producto</h5>
                <div class="price">                
                    <i class="fas fa-dollar-sign"></i>
                    <h4>0000.-</h4>
                </div>
            </div> 
        </div>
        <div class="container">
            <div class="images">
                <a class="image"  href="">
                    <img class="frontal" src="/image/3.jpg"  alt="">
                    <img class="rear" src="/image/4.jpg"  alt=""> 
                </a>                       
            </div>
            <div class="sellers">
                <h5>nombre del producto</h5>
                <div class="price">                
                    <i class="fas fa-dollar-sign"></i>
                    <h4>0000.-</h4>
                </div>
            </div> 
        </div>
        <div class="container">
            <div class="images">
                <a class="image"  href="">
                    <img class="frontal" src="/image/5.jpg"  alt="">
                    <img class="rear" src="/image/6.jpg"  alt=""> 
                </a>                       
            </div>
            <div class="sellers">
                <h5>nombre del producto</h5>
                <div class="price">                
                    <i class="fas fa-dollar-sign"></i>
                    <h4>0000.-</h4>
                </div>
            </div> 
        </div>
        <div class="container">
            <div class="images">
                <a class="image"  href="">
                    <img class="frontal" src="/image/7.jpg"  alt="">
                    <img class="rear" src="/image/8.jpg"  alt=""> 
                </a>                       
            </div>
            <div class="sellers">
                <h5>nombre del producto</h5>
                <div class="price">                
                    <i class="fas fa-dollar-sign"></i>
                    <h4>0000.-</h4>
                </div>
            </div> 
        </div>
        <div class="container">
            <div class="images">
                <a class="image"  href="">
                    <img class="frontal" src="/image/3.jpg"  alt="">
                    <img class="rear" src="/image/4.jpg"  alt=""> 
                </a>                       
            </div>
            <div class="sellers">
                <h5>nombre del producto</h5>
                <div class="price">                
                    <i class="fas fa-dollar-sign"></i>
                    <h4>0000.-</h4>
                </div>
            </div> 
        </div>
        <div class="container">
            <div class="images">
                <a class="image"  href="">
                    <img class="frontal" src="/image/5.jpg"  alt="">
                    <img class="rear" src="/image/6.jpg"  alt=""> 
                </a>                       
            </div>
            <div class="sellers">
                <h5>nombre del producto</h5>
                <div class="price">                
                    <i class="fas fa-dollar-sign"></i>
                    <h4>0000.-</h4>
                </div>
            </div> 
        </div>
        <div class="container">
            <div class="images">
                <a class="image"  href="">
                    <img class="frontal" src="/image/7.jpg"  alt="">
                    <img class="rear" src="/image/8.jpg"  alt=""> 
                </a>                       
            </div>
            <div class="sellers">
                <h5>nombre del producto</h5>
                <div class="price">                
                    <i class="fas fa-dollar-sign"></i>
                    <h4>0000.-</h4>
                </div>
            </div> 
        </div>
        <div class="container">
            <div class="images">
                <a class="image"  href="">
                    <img class="frontal" src="/image/1.jpg"  alt="">
                    <img class="rear" src="/image/2.jpg"  alt=""> 
                </a>                       
            </div>
            <div class="sellers">
                <h5>nombre del producto</h5>
                <div class="price">                
                    <i class="fas fa-dollar-sign"></i>
                    <h4>0000.-</h4>
                </div>
            </div> 
        </div>  
    </div>

    <!-- fin bloque mas vendidios desktop -->
    
<!--  footer -->

<footer>
    <div class="footer-1">
      <h4>Métodos de pago</h4>
      <i class="fab fa-cc-visa"></i>
      <i class="fab fa-cc-mastercard"></i>
      <i class="fab fa-cc-amex"></i>
    </div>


    <div class="footer-2">
      <h4>Ayuda</h4>
      <ul>
        <a href=""> <li>¿Quienes somos?</li></a>
        <a href=""><li>Preguntas frecuentes</li></a>
        <a href=""><li>Sucursales</li></a>
      </ul>
    </div>
    
    <div class="footer-3">
      <h4>Contactanos</h4>
      <p>0800-0000-0000</p>
      <p>(011) 15555555</p>
      <a href="mailto: ejemplo@ejemplo.com"> ejemplo@ejemplo.com</a>
    </div>

    <div class="footer-4">
      <h4>Nuestras redes </h4>
      <a href=""><i class="fab fa-whatsapp"></i></a>
      <a href=""><i class="fab fa-facebook-square"></i></a>
      <a href=""> <i class="fab fa-instagram"></i></a>
      <a href=""> <i class="fab fa-twitter-square"></i> </a>
    </div>

</div>

  </footer>

<!-- fin footer -->
        
   
    
</body>
</html>