<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Gemma | Editá tus productos</title>
</head>
<body class="editBody">

  <%- include('./partials/header.ejs') %> 

    <h2 class="editTitle">Editá tus productos:</h2>
    <h3 class="editSubtitles">Buscá el item que necesites editar:</h3>
    <label>Categoría:
        <input list="editCategories" name="Categorías" /></label>
        <datalist id="editCategories">
          <option value="Lentes de sol">
          <option value="Marcos para receta">
          <option value="Lentes gaming">
          <option value="Lentes de contacto">
        </datalist>

        <label>Producto:
            <input list="editItem" name="Productos" /></label>
            <datalist id="editItem">
              <option value="Item 1">
              <option value="Item 2">
              <option value="Item 3">
              <option value="Item 4">
              <option value="Item 5">
              <option value="Item 6">
            </datalist>

        <div class="update">
            <h3 class="editSubtitles">Ingresá la información actualizada:</h3>
            <%- include('./partials/editForm.ejs') %>  
            

      <div class="buttons">
         <button class="btn">Aceptar</button>
         <button class="btn" type="cancel">Cancelar</button>
      </div>

      <%- include('./partials/footer.ejs') %> 
</body>
</html>