
    <!DOCTYPE html>
    <html lang="es">
    <!-- head -->
    <%- include("partials/head")  %> 
    <!-- fin head-->
<body>
    <h1>nada</h1>
    <div class="containerList">
        <ul class="title">
            <li class="lista">
                <p class="id">id</p>
                <p class="name">nombre del producto</p>
                <p class="price">precio</p>
                <p class="category">categoria</p>
                <p class="shape">forma</p>
                <p class="brand">marca</p>
                <p class="material">material</p>
                <p class="height">alto</p>
                <p class="width">ancho</p>
                <p class="discount">descuento</p>
                
    
            </li>
        <section class="tama">
            
            <ul class="list">
                <% prod.forEach(item => { %> 
                <li class="lista">
                    <p class="id"><%- item.id %></p>
                    <p class="name"><%- item.name %></p>
                    <p class="price"><%- item.price.toFixed(2) %></p>
                   
                    <p class="category">dfgdf</p>
                    
                    <p class="shape">forma</p>

                    <p class="brand">marca</p>
                    <p class="material">material</p>
                    <p class="height">alto</p>
                    <p class="width">ancho</p>
                    <p class="discount">descuento</p>
                    <a href=""><i class="far fa-edit"></i></a>
                    <a href=""><i class="far fa-trash-alt"></i></a>    
                </li>
                <% }) %>
            </ul>
           
        </section>
    </div>
    
    
    
</body>
</html>