<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include("partials/head")  %> 
<!-- fin head-->
<body >
<!-- header -->

<%- include("partials/header")  %> 
<!-- fin header  -->

    

<div class="base">
    <section class="ordenar">
        <div class="grilla" >
            <img  onclick = "dos()" src="/image/orden1.png" alt="">
            <img  onclick = "tres()" src="/image/orden2.png" alt="">
        </div>
        <input type="text" >
    </section>
    <section class="menu-lateral">
        <div class="men1">
            <a class="sub-titulo" >
                <p>forma</p>
            </a>
            <div class="sub-menu">
                <ul>
                    <li><a href="">aviador</a></li>
                    <li><a href="">browline</a></li>
                    <li><a href="">cateye</a></li>
                    <li><a href="">cuadrado</a></li>
                    <li><a href="">rectangular</a></li>
                    <li><a href="">round</a></li>
                </ul>          
            </div>
        </div>
        <div class="men2">
            <a class="sub-titulo">
                <p>marca</p>
            </a>
            <div class="sub-menu">
                <ul>
                    <li><a href="">3Momi</a></li>
                    <li><a href="">armani</a></li>
                    <li><a href="">nyol</a></li>
                    <li><a href="">ralph</a></li>
                    <li><a href="">ray-ban</a></li>
                    <li><a href="">reef</a></li>
                    <li><a href="">rusty</a></li>
                    <li><a href="">vogue</a></li>
                    <li><a href="">vulk</a></li>
                </ul>
            </div>
        </div>
        <div class="men3">
            <a class="sub-titulo">
                <p>material</p>
            </a>
            <div class="sub-menu">
                <ul>
                    <li><a href="">acetato</a></li>
                    <li><a href="">grilamid</a></li>
                    <li><a href="">metal</a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- fin menu lateral -->
   

   <!-- bloque de mas vendidos mobile -->
   <%-include("partials/vistaProductos.ejs") %> 
<!-- fin de bloque de mas vendidos mobile -->
    
</div>
<!-- footer -->
<%- include("partials/footer")  %> 
<!-- fin footer  -->
<script>
    function dos(){
        let products = document.querySelectorAll(".product-card")
        let pes = document.querySelectorAll(".pes")
        let prices = document.querySelectorAll("#dollar i")
        products.forEach(product =>{
            product.style.width = "50vw";
            product.style.height = "41vw";
        })
        pes.forEach(pe =>{
            pe.style.fontSize = "17px";
        })
        prices.forEach(price =>{
            price.style.fontSize = "17px";
        })
    }
    function tres(){
        let products = document.querySelectorAll(".product-card")
        let pes = document.querySelectorAll(".pes")
        let prices = document.querySelectorAll("#dollar i")
        products.forEach(product =>{
            product.style.width = "33vw";
            product.style.height = "29vw"; 
                       
        })
        pes.forEach(pe =>{
            pe.style.fontSize = "13px";
        })
        prices.forEach(price =>{
            price.style.fontSize = "13px";
        })
    }
</script>
</body>
</html>