<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <title>product</title>
</head>
<body >
<!-- header -->
<header>
    <div class="container-burger"><i class="fa fa-bars"></i></div>
    <div class="container-1">

        <a href="/"> <img class="logo" src="/image/logo.png" alt="Logo"></a>
    </div>
    <div class="container-2">
        <p class="number">(011)15555555</p> <br>
        <div class="barra-busqueda">
            <input class="search" type="search" placeholder="Buscá un producto">
            <button class="lupa"><i class="fa fa-search "></i></button>
        </div>
    </div>
    <div class="container-3">
        <ul>
            <li><a href="/login">Inicia sesión</a></li>
            <li><a href="/registro">Registrate</a></li>
        </ul>
    </div>
    <div class="container-4">
        <a href="/trolley">
            <i class="fa fa-shopping-cart"></i> <br> Mi carrito
        </a>

    </div>
    <nav class="container-nav">
        <ul>
            <a href="/product"> <li>Lentes recetados</li></a>
            <a href=""> <li>Lentes de sol</li></a>
            <a href=""> <li>Lentes de contacto</li></a>
            <a href=""> <li>Lentes gaming</li></a>
            <a href=""> <li>Ofertas</li></a>
            <a href="/turnos"> <li>Pedí una consulta</li></a>
        </ul>
    </nav>

</header>

<!-- fin header -->

<div class="base">
    <section class="ordenar">
        <div class="grilla" >
            <img  onclick = "dos()" src="/image/orden1.png" alt="">
            <img  onclick = "tres()" src="/image/orden2.png" alt="">
        </div>
        <input type="text" >
    </section>
    <section class="menu-lateral">
        <div class="men1">
            <a class="sub-titulo" >
                <p>forma</p>
            </a>
            <div class="sub-menu">
                <ul>
                    <li><a href="">aviador</a></li>
                    <li><a href="">browline</a></li>
                    <li><a href="">cateye</a></li>
                    <li><a href="">cuadrado</a></li>
                    <li><a href="">rectangular</a></li>
                    <li><a href="">round</a></li>
                </ul>          
            </div>
        </div>
        <div class="men2">
            <a class="sub-titulo">
                <p>marca</p>
            </a>
            <div class="sub-menu">
                <ul>
                    <li><a href="">3Momi</a></li>
                    <li><a href="">armani</a></li>
                    <li><a href="">nyol</a></li>
                    <li><a href="">ralph</a></li>
                    <li><a href="">ray-ban</a></li>
                    <li><a href="">reef</a></li>
                    <li><a href="">rusty</a></li>
                    <li><a href="">vogue</a></li>
                    <li><a href="">vulk</a></li>
                </ul>
            </div>
        </div>
        <div class="men3">
            <a class="sub-titulo">
                <p>material</p>
            </a>
            <div class="sub-menu">
                <ul>
                    <li><a href="">acetato</a></li>
                    <li><a href="">grilamid</a></li>
                    <li><a href="">metal</a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- fin menu lateral -->
   

   <!-- bloque de mas vendidos mobile -->
   <%-include("partials/vistaProductos.ejs") %> 
<!-- fin de bloque de mas vendidos mobile -->
    
</div>
<!-- footer -->
<footer>
    <div class="footer-1">
      <h4>Métodos de pago</h4>
      <i class="fab fa-cc-visa"></i>
      <i class="fab fa-cc-mastercard"></i>
      <i class="fab fa-cc-amex"></i>
      </div>


    <div class="footer-2">
      <h4>Ayuda</h4>
      <ul>
        <a href=""> <li>¿Quienes somos?</li></a>
        <a href=""><li>Preguntas frecuentes</li></a>
        <a href=""><li>Sucursales</li></a>
      </ul>
    </div>
    
    <div class="footer-3">
      <h4>Contactanos</h4>
      <p>0800-0000-0000</p>
      <p>(011) 15555555</p>
      <a href="mailto: ejemplo@ejemplo.com"> ejemplo@ejemplo.com</a>
    </div>

    <div class="footer-4">
      <h4>Nuestras redes </h4>
      <a href=""><i class="fab fa-whatsapp"></i></a>
      <a href=""><i class="fab fa-facebook-square"></i></a>
      <a href=""> <i class="fab fa-instagram"></i></a>
      <a href=""> <i class="fab fa-twitter-square"></i> </a>
    </div>



  </footer>

<!-- fin footer -->
<script>
    function dos(){
        let products = document.querySelectorAll(".product-card")
        products.forEach(product =>{
            product.style.width = "50vw";
            product.style.height = "41vw";
        })
    }
    function tres(){
        let products = document.querySelectorAll(".product-card")
        products.forEach(product =>{
            product.style.width = "33vw";
            product.style.height = "29vw";
        })
    }
</script>
</body>
</html>