<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/recetados.css">
</head>
<header>
    <div class ="headerArriba">
        <div class="menu">
            <i class="fas fa-bars"></i>
        </div>
        <div class="logo" >
            <img src="/image/logo.png" alt="">
        </div>  
        <div class="carrito">
            <i class="fas fa-shopping-cart"></i>
            <span id ="hideMobile">Mi carrito</span>
        </div>
    </div> 
    <div class="headerAbajo">     
        <div class="lupa">
            <span id ="hideMobile">0800 333-3333 / 11 3333-3333</span>
            <input id ="hideMobile" type="text" placeholder="Buscar productos, marcas">
            <i class="fas fa-search"></i>
        </div>
        <div class ="welcome">
            <p>Bienvenido,</p><p>Usuario</p>
            <a id ="hideMobile" href="/views/registro.html">Iniciá sesión | Registrate</a>
            <a id ="hideMobile" href="/views/miCuenta.html">Mi cuenta</a>
        </div>
        
        <nav id="hideMobile">
            <ul>
                <li>HOME</li>
                <li>Lentes recetados</li>
                <li>Lentes de sol</li>
                <li>Lentes de contacto</li>
                <li>Lentes gaming</li>
                <li>Ofertas</li>
                <li>Pedí una consulta</li>        
            </ul>
        </nav>
    </div>
    
    <nav class="sub-menu">
        <ul class="opcion">
            <li><a href="">Forma</a></li>
            <li><a href="">Marca</a></li>
            <li><a href="">Material</a></li>
        </ul>
    </nav>
    <hr>

        
</header>
<body>
    <div class="prod">
        <img src="/image/lente1.jpg" alt="">
        <span class="nombre">Nombre del Producto</span>
        <span class="precio">$ 0000.00</span>
    </div>
    <div class="prod">
        <img src="/image/lente1.jpg" alt="">
        <span id="span">Nombre del Producto</span>
        <span id="span2">$ 0000.00</span>
    </div>
    <div class="prod">
        <img src="/image/lente1.jpg" alt="">
        <span id="span">Nombre del Producto</span>
        <span id="span2">$ 0000.00</span>
    </div>
    <div class="prod">
        <img src="/image/lente1.jpg" alt="">
        <span id="span">Nombre del Producto</span>
        <span id="span2">$ 0000.00</span>
    </div>
    <div class="prod">
        <img src="/image/lente1.jpg" alt="">
        <span id="span">Nombre del Producto</span>
        <span id="span2">$ 0000.00</span>
    </div>
    <div class="prod">
        <img src="/image/lente1.jpg" alt="">
        <span id="span">Nombre del Producto</span>
        <span id="span2">$ 0000.00</span>
    </div>
    <div class="prod">
        <img src="/image/lente1.jpg" alt="">
        <span id="span">Nombre del Producto</span>
        <span id="span2">$ 0000.00</span>
    </div>
    <div class="prod">
        <img src="/image/lente1.jpg" alt="">
        <span id="span">Nombre del Producto</span>
        <span id="span2">$ 0000.00</span>
    </div>
    <div class="prod">
        <img src="/image/lente1.jpg" alt="">
        <span id="span">Nombre del Producto</span>
        <span id="span2">$ 0000.00</span>
    </div>
    
    
    
</body>

<footer>
    <div class="footer-container">
        <div class="medios-pago">
            <h5 class= "uper">Métodos de pago</h5>
            <i class="fas fa-bars"></i>
            <i class="fas fa-bars"></i>
            <i class="fas fa-bars"></i>
        </div>
        <div class="ayuda">
            <a href="">Ayuda</a>
            <a href="">¿Quienes somos?</a>
            <a href="">FAQ</a>
            <a href="">Sursales</a>
        </div>
        <div class="contacto">
            <span class= "uper">Contactenos</span>
            <span>0800 333 3333</span>
            <span>54 11 4444-4444</span>
            <a href="">info@gemmaglass</a>
        </div>
        <div class="social">
            <h5 class= "uper">Nuestras redes</h5>
            <div class="redes">
                <i class="fas fa-bars"></i>
                <i class="fas fa-bars"></i>
                <i class="fas fa-bars"></i>
                <i class="fas fa-bars"></i>
            </div>

        </div>
    </div>
</footer>
</html>