<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include("partials/head")  %> 
<!-- fin head-->
<body>
<!-- header -->

<%- include("partials/header")  %> 
<!-- fin header  -->

    
    <div class="container-register">
        <div class="welcome">
            <h2>¡Bienvenido!</h2>
            <p>Creá tu cuenta para comprar con mas facilidad</p>
        </div>
        <div class="exterior">
            <div class="my-data">
                <p>Completá tus datos</p>
                <div class="name">
                    <div class="left-side">
                        <label for="">Nombre</label>
                        <input type="text" name="name" id="">
                    </div>
                    <div class="right-side">
                        <label for="" id="lana">Apellido</label>
                        <input class="color" type="text" name="last-name" id="lastName">
                    </div>                   
                </div>            
                <label for="">e-mail</label>
                <input class="borde" type="email" name="" placeholder="mail@domain.com" >
               
                <label for="">Telefono</label>
                <input type="number" name="phone" id="">
                <label for="">Contraseña</label>
                <div class="pass1">
                    <input type="password" onclick="validateOff()" name="pass" id="myInput">
                    <i class="far fa-eye"  onclick="myFunction()" id="eye1"></i>
                </div>
                <label for="">Confirmar contraseña</label>
                <div class="pass2">                                    
                    <input type="password" onclick="validateOff()" name="conf-pass" id="myInput2">
                    <i class="far fa-eye"  onclick="myFunction2()" id="eye2"></i>
                </div>  
                <div class="validate" id="validate">
                    <span class="val">¡Las contraseñas no coinciden!</span>
                </div>
                <button class="register-button" onclick="validate()" id="button" type="submit">Registrarse</button>
                <div class="login-cont">
                    <a class="ingresa" href="/login">
                        ¿Ya tenés cuenta? Ingresá
                    </a>
                </div>
                            
            </div>
        </div>               
    </div>
    <script>
    function validateOff(){
        let mesage = document.getElementById("validate");
        mesage.style.display="none";
    }
    function myFunction() {
        let x = document.getElementById("myInput");      
          
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }           
    }    
    function myFunction2() {
        let x = document.getElementById("myInput2");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
    function validate(){
        let vali1 = document.getElementById("myInput");
        let vali2 = document.getElementById("myInput2");
        let mesage = document.getElementById("validate")
        let button = document.getElementById("button")
        if (vali1.value !== vali2.value){
            mesage.style.display="flex"
        }        
    }

    
    </script> 
<!-- footer -->
<%- include("partials/footer")  %> 
<!-- fin footer  -->
</body>
<!-- footer -->
</html>