<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet"
  />    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap"
      rel="stylesheet"
    />
<link rel="stylesheet" href="/css/style.css">

    <title>GemmaGlass</title>
</head>
<body>
<!-- header -->

<%- include("partials/header")  %> 
<!-- fin header  -->

    
    <h2 class="titulo-turno">Solicitá tu turno</h2>
<div class="container-turno">
    <form action="" class="form-turno">
        <label for="name"> Nombre y apellido</label>
        <input type="text" name="name" id="" placeholder="Escribe tu nombre y apellido">
        <label for="tel">Teléfono</label>
        <input type="number" name="tel" id="" placeholder="Escribe tu teléfono">
        <label for="email">Email</label>
        <input type="email" name="email " id="" placeholder="Escribe tu email">
        <label for="sucursales">Sucursales</label>
                <select name="sucursales">
                <option selected value="0"> Elige una opción </option>
                 <option value="1">Sucursar 1</option> 
                 <option value="2">Sucursar 2</option> 
                 <option value="3">Sucursar 3</option>
                </select>
<label for="fecha">Fecha y hora</label>
<input type="datetime-local" name="fecha" id="">
<button type="submit" class="btn-turno">Confirmar turno</button>
    </form>
</div>
<!-- footer -->
<%- include("partials/footer")  %> 
<!-- fin footer  -->
</body>
</html>