:root{
    --grey : #444444;
    --red : #b92519;
/*     --tipos:#152847; */
    --header:#4F8DF0;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
a{
    text-decoration: none;
}

.hr-mobile{    
    background: rgb(21,40,71);
    background: linear-gradient(90deg, rgba(21,40,71,1) 0%, rgba(79,141,240,1) 50%, rgba(21,40,71,1) 100%);
    height: 1.5px;      
    width: 90%;
    border: none;  
    margin: 10px auto 20px; 
}
.hr-desktop{
    background: rgb(21,40,71);
    background: linear-gradient(90deg, rgba(21,40,71,1) 0%, rgba(79,141,240,1) 50%, rgba(21,40,71,1) 100%);
    height: 2px;      
    width: 90%;
    border: none;  
    margin: 10px auto 20px; 
    display: none;
}
.title-slider .title{
    
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;  
    padding:15px 0 10px ;
}
.ani{
    display: flex;
    justify-content: center;   
    width: 80%;    
    margin: 5px  auto 20px; 
    order: 1;
}
.ani .container{    
    display: block;  
    justify-content: center;  
    width: 75vw;
    height: 45vw;
    margin: auto 0;    
    overflow: hidden;
    border: 1px solid cadetblue;
    border-radius: 1.5rem;       
} 
.ani #slider{    
    width: 150vw;
    height: 45vw;
    background-image: url(/image/sl1.jpg);
    background-size: 100% ;
    animation: slider 7s infinite alternate cubic-bezier(1, 0, 0, 1);    
    /* animation-direction: alternate; */    
    /* animation-timing-function: cubic-bezier(1, 0, 0, 1); */
}
@keyframes slider{
    to {
        background-position: 78vw;
    }
}
.block1-body-mobile .price{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    order: 3;
}
.block1-body-mobile .price i {        
    margin-right: 3px;    
}
.block1-body-mobile .pay{
    display: flex;
    width: 70%;
    flex-direction: column;  
    margin: auto auto;
     
}
.block1-body-mobile .pay .hs5{    
    text-align: center;
}
.block1-body-mobile .credit-card{
    margin: auto;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    flex-wrap:wrap;
}
.block1-body-mobile .credit-card i{
    font-size: 60px;
    padding:  0 5px;
}
.block1-body-mobile .button-buy{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    order: 5;
    
    margin-bottom: 5px;
}
.block1-body-mobile .button-buy button{
    width:50%;
    height: 75%;    
    border: solid 1px #fff;                                    /* acacacacacaca */
    background-color: #4F8DF0;
    color: #152847;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}
.block1-body-mobile .button-buy button:hover{
    background-color: #2f7cf7;
    color: white;
    font-weight: bold;
}
.block1-body-mobile .postal-code{
    padding: 5px;
    width: 65%;
    border: 1px solid #4F8DF0;     
    margin: 0 auto 15px;    
    background-color: #4F8DF0;  
    order: 6;
}
.block1-body-mobile .postal-code p{
    font-size: 12px;   
    text-align: center; 
    padding-bottom: 10px;   
}
.block1-body-mobile .postal-code input{
    display: flex;
   margin: 0 auto 10px;
   height: 2rem;
   border-style: none;
   
   text-align: center;
   outline: none;  /* elimina el borde amarillo cuando tiene el foco */ 
}
.block1-body-mobile .postal-code li{
    list-style: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}
.block1-body-mobile .details .detail,
.block1-body-mobile .info,
.block1-body-mobile .measures{
    display: block;
    width: 90%;
    margin: 0 15px 15px;    
}
.block1-body-mobile .details .detail p,
.block1-body-mobile .info p,
.block1-body-mobile .measures p{
    font-size: 14px;
}
.block1-body-mobile .social-media{
    display:flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;  
    order:9;
}
.block1-body-mobile .social-media .share{
    width: 100%;   
    margin-bottom:  5px;
    text-transform: capitalize;    
    font-weight: bold;
    font-size: 14px;
}
.block1-body-mobile .social-media ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 22px;  
    gap: 5px  ;
}
.separator{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    order:  11;
}
.sold-separator{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;  
    order:  12;  
}
.sold-separator hr{      
    background: rgb(21,40,71);
    background: linear-gradient(90deg, rgba(21,40,71,1) 0%, rgba(79,141,240,1) 50%, rgba(21,40,71,1) 100%);
    height: 1px;    
    margin: 0 ;
    width: 20.4%;
    border: none;  
    position: relative;
}
.sold-separator p{
    position: relative;
    top: 0;
}

/* slider para descktop */
.containerSlide .images{
    opacity: 0;
}
.containerSlide{  
    display: flex;  
    flex-direction: column;
    width: 60%;
    height: 85vh;          
    justify-content: center;
    align-items: center; 
    /* text-align: center; */ 
    margin-bottom: 20px;   
}
.containerSlide .title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    margin: auto auto;    
}
.containerSlide .name{
    text-align: center;
    padding: auto auto;
    text-transform: uppercase;  
    color:#152847;
    font-size: 4vh;
    font-weight: bold;
    
}
.containerSlide .pictures{
    display: flex;
    width: 85%;
    height: 80%;    
    position: relative;
    margin: auto auto;
    justify-content: center;
    align-items: center;
}
.containerSlide .pictures  img{
    width: fit-content;
    height: 100%;
    position: absolute;
    border: 2px solid #152847;
    border-radius: 25px;    
    object-fit: scale-down;
}
.containerSlide .menu img{
    width: 40%;
    border: 1.5px solid #152847;
    border-radius: 50%;
}
.containerSlide .navegadorImagenes{    
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 10%;
    margin-top: 10px;
}
.containerSlide .navegadorImagenes ul.menu li a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerSlide .navegadorImagenes ul.menu{
    list-style: none;
    display: flex;
    width: 65%;
}
.containerSlide .images#images1{
    opacity: 1;
}
.containerSlide .images:target{
    opacity: 1;
}
.containerSlide{
    display: none;
}
/* fin slider descktop */
/* bloque 2 desktop */
.block2-desktop{
    display:flex;
    flex-direction: column;
    width: 38%;
   /*  margin-bottom:80px; */
    margin: 0px auto 80px;    
}
.block2-desktop .price{        
    display: flex;
    flex-direction: row;
    width: 38%;
    margin: 30px auto 10px;        
    justify-content: center;
           
}    
.block2-desktop .price i,
.block2-desktop .price h4{
    color: #152847;
    font-size: 5vh;
}
.block2-desktop .button-buy{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;      
    width: 75%;
    height: 10vh;         
    margin: 20px auto 30px;  
              
}
.block2-desktop .button-buy button{
    width:100%;
    height: 75%;    
    background-color: #4F8DF0;
    border: solid 1px white;
    color: #152847;
    font-size: 4.2vh;
    font-weight: bold;
    text-transform: uppercase;    
}
.block2-desktop .button-buy button:hover{
    background-color: #2f7cf7;
    color: white;
    font-weight: bold;
}
.block2-desktop .detail{       
    margin:25px auto 10px;                
}
.block2-desktop .detail h4{
    text-align: left;
}
.block2-desktop .info{
    margin:0px auto 10px;
}    
.block2-desktop .detail h4,
.block2-desktop .detail p{
    font-size: 3.6vh;
    color: #152847;
}
.block2-desktop .info h5,
.block2-desktop .info p{
    font-size: 3.6vh;
    color: #152847;
}
.block2-desktop .measures h4,
.block2-desktop .measures p{
    font-size: 3.6vh;
    color: #152847;
}
.block2-desktop .measures h4{
    text-align: left;
}
.block2-desktop{
    display: none;
}        
/* fin bloque 2 desktop */
/* bloque 3 postal desktop */

.block3-postal .postal-code{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    width: 50vh;
    height: 55vh;
    border: 1px solid #4F8DF0; 
    
    margin: 0 auto 15px;    
    background-color: #4F8DF0;  
    order: 6;
}
.block3-postal .postal-code p{
    font-size: 3.5vh;   
    text-align: center; 
    padding-bottom: 10px;   
}
.block3-postal .postal-code input{
    display: flex;
   margin: 0 auto 10px;
   width: 35vh;
   height: 7vh;
   border-style: none;    
   text-align: center;
   outline: none;  /* elimina el borde amarillo cuando tiene el foco */  
   color: #152847;  
}

.block3-postal .postal-code li{
    list-style: none;
    text-transform: uppercase;
    font-size: 3.5vh;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}
.block3-postal .pay{
    display: flex;
    width: 70%;
    flex-direction: column;  
    margin: auto auto;
      
}
.block3-postal .pay .hs3{    
    
    text-align: center;
}
.block3-postal .pay .hs3 h3{
    font-size: 3vh;
}
.block3-postal .credit-card{
    margin: auto;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    flex-wrap:wrap;
}
.block3-postal .credit-card i{
    font-size: 60px;
    padding:  0 5px;
    color: var(--tipos);                                          /* sdfsdfsdfsdfsdfsd */
}
.block3-postal .social-media{
    display:flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;     
}
.block3-postal .social-media i{
    color: var(--tipos);
}
.block3-postal .social-media .share{
    width: 100%;   
    margin-bottom:  5px;
    text-transform: capitalize;    
    font-weight: bold;
    font-size: 14px;
}
.block3-postal .social-media ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 22px;  
    gap: 5px  ;
}
.block3-postal{
    display: none;
}

/* fin bloque 3 postal desktop */


/* bloque de mas vendidos */

.block-best-sellers{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.block-best-sellers .product{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
.block-best-sellers .twist{
    border: 2px solid #152847;
    border-radius: 25px; 
    width: 52%;
}
.block-best-sellers .twist .link-twist{
    display: flex;
    width: 50%;
    height: 50vw;   
    position: relative;        
}
.block-best-sellers .twist .link-twist img{
    width: fit-content;
    height: 100%;
    margin-left: 1.5px;
    position: absolute;    
    border-radius: 35px;  
    animation: twist1 7s infinite ;     
}
.block-best-sellers .rear{
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
}
@keyframes twist1 {
    from { transform: rotateY(0deg) }
    to { transform: rotateY(360deg) }
}
.block-best-sellers .best-sellers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 10px;    
}
.block-best-sellers .best-sellers h5,
.block-best-sellers .best-sellers h4{
    text-transform: uppercase;    
    color: #152847;
}
.block-best-sellers .best-sellers .price{
    display: flex;
    flex-direction: row;
}
.block-best-sellers .best-sellers i{    
    margin-right: 3px;
    color: #152847;
}

/* fin de bloque mas vendidos */
/*  bloque mas vendidos desktop */

.block-best-sellers-desktop{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
    
    justify-content: space-evenly;
}
.block-best-sellers-desktop .container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.block-best-sellers-desktop .sellers h5{
    font-size: 2.7vh;
    color: var(--tipos);
}
.block-best-sellers-desktop .price{
    display: flex;
    flex-direction: row;   
    align-items: center;
    justify-content: center;
    
}
.block-best-sellers-desktop .price i{
    margin-right: 5px;
    color: var(--tipos);
    font-size: 4vh;
}
.block-best-sellers-desktop .price h4{
    font-size: 3.5vh;
    color: var(--tipos);
}
.block-best-sellers-desktop .images{    
    display: flex;   
    position: relative;
    width: 15vw;
    height: 15vw;
    margin: 20px 20px 5px;
}
.block-best-sellers-desktop .images .image{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}
.block-best-sellers-desktop .images img{    
    border: 2px solid #152847;
    border-radius: 20px;    
    width: fit-content;
    height: 100%;
    object-fit: scale-down;
    position: absolute;   
}
.block-best-sellers-desktop .images .rear{   
    transition:  400ms;    
}
.block-best-sellers-desktop .images .rear:hover{    
    transform: scaleX(0%);
}
.block-best-sellers-desktop{
    display: none;
}

/*  fin bloque mas vendidos desktop */


/*  pantalla 768 */

 @media (min-width: 768px) {
    .hr-mobile{
        display: none;
    }
    .hr-desktop{
        display: initial;
    }
    body{
        display: flex;              
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: center;       
    }
    .block1-body-mobile {
        display: none;
    }
    .containerSlide{
        display: initial;
    }
    .block2-desktop{
        display: initial;
    }    
    .block3-postal{
        display: initial;
    }
    .block3-postal .social-media i{
        font-size: 30px;
    }
    .block-best-sellers{
        display: none;
    }
    .block-best-sellers-desktop{
        display: inherit;
    }
}
@media (min-width: 1024px){
    .hr-desktop{
        display: initial;
    }
    /* postal */
    .block3-postal{
        margin-top: 10px;      
    }
    .block3-postal .credit-card{
        width: 100%;
    }
    .block3-postal .credit-card i{
        font-size:85px;
    } 
    .block3-postal .social-media i{
        font-size: 50px;  
    }
   
}     
@media (min-width: 1044px){
    .block2-desktop .price{        
        display: flex;
        flex-direction: row;
        width: 38%;
        margin: 30px auto 10px;        
        justify-content: center;        
    }  
    .block2-desktop .info{
        font-size: 16px;
        margin-bottom: 26px;
    }    
    .block3-postal .pay{        
        width: 100%;          
    }
    
    .block3-postal .credit-card{
        width: 100%;
    }
    .block3-postal .credit-card i{
        font-size: 120px;
    } 

    .block3-postal .social-media i{
        font-size: 60px;  
    }
}