b@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --header : rgb(79, 141,240);
    --navbar : rgb(182, 209, 252);
    --footer : rgb(21, 40, 72);
    --fondo : #fafafa;
    /* Fonts */
    --font-primary : 'Roboto', sans-serif;
    /* Font size */
    --paragraph : 12px;
    --title : 24px;
    --price : 18px;
    --descriptions : 16px;
}

.wb {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 0  ;
    justify-content: space-evenly;
    width: 100vw;
    border: 1px solid gray;
    text-align: center;
    
}



.editSubtitles {
    text-align: center;
    font-size: 13px ;
    margin: 10px auto 10px;
    text-transform: uppercase;
}

.wb .tamanio{
    /* height: 35px; */
    width: 45vw;
    border: solid 1px var(--navbar);
    padding: 2px;
    margin: 0 5px 5px; 
    font-size: 12px;
    
}
.tamanioFondo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.label{
    font-size: 14px;
}
.archivos{
    font-size: 12px;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}




/*  VERSIÓN TABLET  */
@media (min-width: 768px) {
    .wb {
        width: 50vw;
    }
    
    .wb .tamanio{
        width: 23vw;
        
    }
} 