
.logo {
  width: 74px;
  height: 56px;
  padding-top: 5px;
}

header {
  width: 100%;
  transition: 1s;
  background-color:  var(--header);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top:0;
  z-index: 999;
}

.container-2 {
  width: 35%;
}

.lupa{
  display: initial;
}
.barra-busqueda input,
.container-2 .number {
  display: none;
}
/* agregado para centrar el input */
.searchForm{
  display: flex;
  width: 100%;
}
.colors{
  width: 22%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.sizeA{
  width: 23px;
  height: 25px;
  /* border: 1px solid black; */
  margin: 3px;
  cursor: pointer;
  outline: 0 none;
}
.c1, .c2, .c3, .c4{
  border-radius: 30px;
}
.c1{background-color: var(--header1); border: 1px solid white;}
.c2{background-color: var(--header2);}
.c3{background-color: var(--header3);}
.c4{background-color: var(--header4);}
.sizeA:hover{
  
  border: 1px solid white;
  
}
#buscador{
  display: none;
  margin: 3px auto;
  position: relative;
}
#buscador input{
height: 25px;
padding-left: 5px;
font-size: 14px;
}
.lupa-2{
  /* display: initial; */
background:none;
border: none;
cursor: pointer;
position: absolute;
right: 5px;
bottom: 0px;
font-size: 19px;
}

.container-burger {
  width: 33%;
  padding: 5px 13px;
  font-size: 32px;
}

.container-1 {
  width: 27%;
  text-align: center;
}

.container-2 {
  position: relative;
  width: 33%;
  text-align: end;
  padding-bottom: 16px;
  padding-left: 5px;
}
.lupa-1{
  display: none;
}
.lupa , .lupa-1{
  background: white;
  border: none;
  cursor: pointer;
  position: relative;
}

.lupa i , .lupa-1 i {
  position: absolute;
  color: var(--tipos);
  padding-right: 7px;
  font-size: 20px;
  right: 16px;
  bottom: 0px;
}
.lupa i:hover{
  color: white;
}

.container-3 {
  width: 80vw;
  padding-left: 5px;
  text-align: start;
  font-size: 15px;
  padding-top: 7px;
}

.container-3 ul li a {
  padding: 3px;
  text-decoration: none;
  color: var(--tipos);
}
.container-3 ul{
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px !important;
}

.container-3 ul li {
  display: inline;
  font-size: 4vw;
  
}
.container-3 ul li a{
  font-size: 4vw;
}
header .container-3 ul li a:hover,
header a:hover {
  color: white;
}
.avatar-header{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border:solid 2px var(--tipos);
}
.avatar-header:hover{
    border:solid 3px white;
}

.container_4 {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */

  width: 20vw;
  top: 35px;
  text-align: center;
  padding-bottom: 3px;
}
.trolley{
  margin-right: 7px;
}
.container_4 .sixeC {
  /* font-size: 45px; */
  font-size: 30px;
  pointer-events: initial;
}

.container_4 a {
  padding-bottom: 3px;
  text-decoration: none;
  color: var(--tipos);
}
.container_4 .ulMyDiv{
  margin-bottom: 0 !important;
}
.carrito{
  margin-bottom: 0;
  display: none;
}
.mydiv{
  display: flex;
  /* margin-right: 5px !important; */
  justify-content: center;
  padding: 10px 10px 10px 10px;
  width: 55px !important;
  /* width: 65px !important; */
  font-size: .7rem !important;
}
.ulMyDiv{
  margin-right: 5px;
}

/*  BARRA DE NAVEGACIÓN  */
.container-nav{
    width: 100%;
    border-top: solid 1px white;
    display: none;
}
.container-nav ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color:lightblue;
    margin: 0;
}

.container-nav ul a {
text-decoration: none;
color: var(--tipos);
font-size: 18px;
border-right: solid 2px white;
width: 20%;
text-align: center;
 }
 .container-nav ul a:last-child {
     border-right: none;

 }
 .container-nav ul a:hover{
    background-color: var(--header);
    color: white;
    font-weight: bold;
}
.container-nav ul a li{
   display: inline ;
   text-align: center;
}
.myLi{
  border: 1px solid var(--tipos) !important;
  margin: auto auto;
}
.phanton{
  display: flex;
  /* position: absolute;
  top: -100;
  visibility: hidden; */
}
.escon{
  display: flex;
  /* position: absolute;
  top:500; */
  
  /* visibility: hidden; */
}
.submit{
  visibility: hidden;
}
.formColor{
  display: flex;
  position: relative;
  /* position: absolute;
  top: -200; */
  visibility: hidden;
}
/*  VERSIÓN TABLET  */
@media (min-width: 768px) {
  .logo {
    width: 100px;
    height: 70px;
    padding-top: 5px;
  }

  .container-burger {
    width: 33%;
    padding: 10px 30px;
    font-size: 42px;
  }
  .lupa {
    right: 18px;
 
  }
  .lupa i{
    font-size: 25px;
  }
  .container-3 {
    width: 70vw;
    padding-left: 20px;
    padding-top: 0;
    font-size: 20px;
    
  }
  .container-3 ul li{
    font-size: 3vw;
  }
  .container-3 ul li a{
    font-size: 2.5vw;
  }
  .container-3 ul .tBold{
    font-weight: bold;
  }
  .container-3 ul{
    padding-left: 0;
    
    margin-bottom: 0 !important;
    
      justify-content: space-evenly;
    
  }
  
  .container_4 {
    padding-top: 0 !important;
    padding-bottom: 15px;
    align-items: flex-end;
    width: 30vw;
    text-align: center;
    padding-bottom: 3px;
  }
  .carrito{
    display: block;
  }
  .trolley{
    margin-right: 27px;
  }
  .container_4 .sixeC {
    font-size: 30px;
    
  }
  .avatar-header{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border:solid 2px #152847;
  }
  .mydiv{
    display: flex;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    width: 110px !important;
    font-size: .7rem !important;
  }
  .ulMyDiv{
    margin-right: 5px !important;
  }
  #buscador{
    margin: 0 auto;
    position: relative;
    width: 33%;
  }
  #buscador input{
    height: 30px;
    width: 100%;
    padding-left: 5px;
    font-size: 16px;
    margin-top: 7px;
    }

  .lupa-2{
    right: 15px;
  font-size: 22px;
  }
}
/*  VERSIÓN DESKTOP  */
@media (min-width: 992px) {
  .container-burger {
    display: none;
  }
.lupa{
  display: none;
}
.searchForm{
  display: none;
  
}
#buscador{
  display: none;
}
.logo {
    width: 120px;
    height: 90px;
    margin-bottom: 5px;
    padding-top: 5px;
  }
  .number{
    margin-bottom: 0;

  }

  .container-1 {
    width: 17%;
    text-align: center;
    order: 0;
    
  }
  .colors{
    order: 2;
    width: 8%;
  }
  .sizeA{
    width: 28px;
  height: 25px;
  /* border: 1px solid black; */
  margin: 5px;
  cursor: pointer;
  outline: 0 none;
  }
  .container-2 {
    width: 30%;
    padding-top: 5px;
    text-align: start;
    order: 1;
  }

  .barra-busqueda input,
  .container-2 .number {
    display: block;
  }
  .search {
    width: 100%;
    height: 29px;
    padding: 0 8px;
    outline: none;
  }  
  .barra-busqueda {
    position: relative;
  }
  .barra-busqueda .lupa{
    display: none;
  }
  .barra-busqueda .lupa-1 {
    display: block;
  position: absolute;
  color: var(--tipos);
  font-size: 22px;
  right: -10px;
  bottom: 2.5px;
}
.barra-busqueda .lupa-1 i{
  font-size: 23px;
}

.barra-busqueda .lupa-1 i:hover{
  color:  var(--header);
}
  .container-3 {
    width: 30%;
    padding-top: 50px;
    padding-left: 5px;
    text-align: center;
    font-size: 21px;
    order: 3;
  }
  .container-3 ul{
    
   
    justify-content: center;
    
  }
  .tipo{
    font-size: 1.7vw;
  }
  .container-3 ul{
    justify-content: space-evenly;
  }
  .container-3 ul li {
    display: inline;
    font-size: 1.7vw;
  }
  .container-3 ul li a{
    font-size: 1.7vw;
  }
  .container_4 {
    padding-left: 48px;
    width: 15% ;
    text-align: center;
    font-size: 16px;
    align-items: flex-end;
    order: 4;
  }

  .container-4 .sixeC {
    font-size: 40px;
  }

  .container-4 a {
    text-decoration: none;
    color: var(--tipos);
  }
  .container-nav{
    display: block;
    order: 6;
}

  
}
