/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

:root {
    --header : rgb(79, 141,240);
    --navbar : rgb(182, 209, 252);
    --footer : rgb(21, 40, 72);
    --fondo : #fafafa;
    /* Fonts */
    /* --font-primary : 'Roboto', sans-serif; */
    /* Font size */
    /* --paragraph : 12px; */
    --title : 24px;
    --price : 18px;
    --descriptions : 16px;
}

/* Carousel */

.carouselContainer {
    margin-bottom: 10px;
}

/* Secciones de categorias */

.section1 {
   margin-bottom: 10px;
   position: relative;
   width: 100%;
}

.section1 img {
    width: 100%;
    height: auto;
}

.section1 .btn {
    position: absolute;
    top: 80%;
    left: 85%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.section2 {
    margin-bottom: 10px;
    position: relative;
    width: 100%;
}

.section2 img {
    width: 100%;
    height: auto;
}

.section2 .btn {
    position: absolute;
    top: 80%;
    left: 15%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.btn {
    background-color: var(--header);
    border: 1px solid black;
    margin: 30px  0 15px 0;
    font-size: 16px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
}

.btn:hover {
    background-color: var(--navbar);
}

h4{
    text-align: center;
}

/* Destacados */
/*  cambios simples realizados */
.cont {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
}

.cont .prod {
    border: none;
    height: 250px;
    width: 250px;
    
}

.cont .prod a {    /* se agregó */
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.cont .prod a img{  /* se agregó */
    width: 100%;
    border: 1px solid var(--footer);
    border-radius: 25px;
}
.cont .prod a img:hover{  /* se agregó */
    width: 100%;
    border: 1px solid var(--header);
    filter: opacity(85%);
}
.cont .prod2 {
    height: 250px;
    width: 250px;
    border: none;
}
.cont .prod2 a {    /* se agregó */
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont .prod2 a img{  /* se agregó */
    width: 100%;
    border: 1px solid var(--footer);
    border-radius: 25px;
}
.cont .prod2 a img:hover{  /* se agregó */
    width: 100%;
    border: 1px solid var(--header);
    filter: opacity(85%);
}
/*  fin cambios simples realizados */

/* Sucursales */

/*.sucursalesItems {
    display: flex;
    justify-content: center;
    
}*/

.sucursal {
    background-color: var(--navbar);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 10px 10px 0px;
}

.turnBanner {
    margin-bottom: 10px;
    position: relative;
    width: 100%;
}

.turnBanner img {
    width: 100%;
    height: auto;
}

.turnBanner .btn {
    position: absolute;
    top: 70%;
    left: 85%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.top {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

/* MOBILE */

@media (min-width: 320px) {
    .btn {
        width: 130px;
        height: 50px;
        font-size: small;
    }

    .section1 .btn {
        position: absolute;
        top: 50%;
        left: 75%;
    }

    .section2 .btn {
        position: absolute;
        top: 50%;
        left: 25%;
    }

    .prod {
        height: 150px;
        width: 150px;
    }

    .prod2 {
        display: none;
    }

    .sucursalesItems {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .turnBanner {
        display: none;
    }
}

/*  TABLET  */
@media (min-width: 768px){
    .btn {
        width: 130px;
        height: 40px;
    }

    .section1 .btn {
        position: absolute;
        top: 80%;
        left: 85%;
    }

    .section2 .btn {
        position: absolute;
        top: 80%;
        left: 15%;
    }

    .prod2 {
        display: none;
    }

    .turnBanner {
        display: none;
    }
}

/* DESKTOP */
@media (min-width: 900px) {
    .btn {
        width: 300px;
        height: 70px;
    }

    .prod {
        height: 250px;
        width: 250px;
    }

    .prod2 {
        display: flex;
    }
    
    .turnBanner {
        display: flex;
    }
}


