@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



/* Carousel */

.carouselContainer {
    margin-bottom: 10px;
}

/* Secciones de categorias */

.section1-home {
   margin-bottom: 10px;
   position: relative;
   width: 100%;
}

.section1-home img {
    width: 100%;
    height: auto;
}

.section1-home .btn {
    position: absolute;
    top: 80%;
    left: 85%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.section2-home {
    margin-bottom: 10px;
    position: relative;
    width: 100%;
}

.section2-home img {
    width: 100%;
    height: auto;
}

.section2-home .btn {
    position: absolute;
    top: 80%;
    left: 15%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.btn {
    background-color: var(--header);
    border: 1px solid black;
    margin: 30px  0 15px 0;
    font-size: 16px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
}

.btn:hover {
    background-color: var(--navbar);
}

h4{
    text-align: center;
}

/* Destacados */

/* .cont {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
}

.cont .prod {
    border: none;
    height: 250px;
    width: 250px;
    
}

.cont .prod a {   
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.cont .prod a img{ 
    width: 100%;
    border: 1px solid var(--footer);
    border-radius: 25px;
}
.cont .prod a img:hover{ 
    width: 100%;
    border: 1px solid var(--header);
    filter: opacity(85%);
}
.cont .prod2 {
    height: 250px;
    width: 250px;
    border: none;
}
.cont .prod2 a {   
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont .prod2 a img{ 
    width: 100%;
    border: 1px solid var(--footer);
    border-radius: 25px;
}
.cont .prod2 a img:hover{ 
    width: 100%;
    border: 1px solid var(--header);
    filter: opacity(85%);
} */


/* Sucursales */

/*.sucursalesItems {
    display: flex;
    justify-content: center;
    
}*/
.cont{
    display: flex;
    justify-content: center;
    padding: 0 25px 0;
}
.sucursal {
    background-color: var(--navbar);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    margin: 0px 10px 10px 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
    color: var(--header);
}

.sucursal:hover {
    background-color: var(--header);
    border-radius: 30%;
    font-size: larger;
    font-weight: bolder;
    color:var(--navbar);
}

.turnBanner {
    margin-bottom: 10px;
    position: relative;
    width: 100%;
}

.turnBanner img {
    width: 100%;
    height: auto;
}

.turnBanner .btn {
    position: absolute;
    top: 70%;
    left: 85%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.top {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

/* MOBILE */



@media (min-width: 320px) {
    .cont{
        padding: 0;
    }
    
    .btn {
        width: 130px;
        height: 50px;
        font-size: small;
    }

    .section1-home .btn {
        position: absolute;
        top: 50%;
        left: 75%;
    }

    .section2-home .btn {
        position: absolute;
        top: 50%;
        left: 25%;
    }

    .prod {
        height: 150px;
        width: 150px;
    }

    .prod2 {
        display: none;
    }

    .sucursalesItems {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .turnBanner {
        display: none;
    }
}

/*  TABLET  */
@media (min-width: 768px){
    .btn {
        width: 130px;
        height: 40px;
    }

    .section1-home .btn {
        position: absolute;
        top: 80%;
        left: 85%;
    }

    .section2-home .btn {
        position: absolute;
        top: 80%;
        left: 15%;
    }

    .prod2 {
        display: none;
    }

    .turnBanner {
        display: none;
    }
}

/* DESKTOP */
@media (min-width: 900px) {
    .btn {
        width: 300px;
        height: 70px;
    }

    .prod {
        height: 250px;
        width: 250px;
    }

    .prod2 {
        display: flex;
    }
    
    .turnBanner {
        display: flex;
    }
}

