.modal-container{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top:0;
    left: 0;
    background-color: rgba(0,0 , 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    width: 40%;
    height: 50%;
    background-image: linear-gradient(to top, #152847 0%, #4f8df0 100%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    position: relative;
    transition: transform 15s;
    transform: translateY(0%) ;
    border-radius: 10px;
    padding: 30px 10px 10px;
}
.modal img{
    height: 26%;
    width: 23%;
    object-fit: contain;
    margin-top: 35px;
    
}
.modal-close{
   transform: translateY(200%); 
}
.close{
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    background-color: rgb(76, 184, 247);
    color:white;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
}
.p-modal{
font-size: 15px;
}