
:root{
    --grey : #444444;
    --red : #b92519;
    --tipos:#152847;
    --header:#4F8DF0;
    
}
body{
    height: 100vh;
}

.base{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
a{
    text-decoration: none;
 }
ul{
    list-style: none;
}
.titleCat{
    display: flex;
    margin: 15px auto 5px;
    line-height:initial;
    justify-content: center;
}
.titleCat span{
    font-size: 16px;
}
.menu-lateral{
    display:none;
    flex-direction: row;
    width: 100%;
    max-width: 380px;
    /* height: 50px; */
    justify-content: center;
    margin-bottom: 10px;
}
.menu-lateral .men1,
.menu-lateral .men2,
.menu-lateral .men3{
width: 100%;
}
.menu-lateral .men1 a,
.menu-lateral .men2 a,
.menu-lateral .men3 a{
margin-bottom: 0;
color: var(--tipos);
}

.menu-lateral .sub-menu ul{
    margin-bottom: 0;
    padding: 0 20px 0;
    line-height:initial;
}
.menu-lateral .sub-menu li{
    margin-bottom: 5px;
    width: 100%;
    text-align: left;  
}
.menu-lateral .sub-menu a li{
    font-size: 15px;
    text-transform: capitalize;
    color: var(--tipos);
}
.menu-lateral .sub-menu a li:hover{
    color: var(--header);
    text-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}
.menu-lateral .sub-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--header);   
    margin:0 15px 0;
    text-transform: uppercase;
    font-style: italic;
    line-height: initial;
}
.menu-lateral .sub-titulo p{
    margin:7px auto 7px;
    color: var(--tipos);
}

@keyframes twist {
    from { transform:  rotateY(0deg) }
    to { transform:  rotateY(360deg) }
}
.hr-mobile{    
    background: rgb(21,40,71);
    background: linear-gradient(90deg, rgba(21,40,71,1) 0%, rgba(79,141,240,1) 50%, rgba(21,40,71,1) 100%);
    height: 1.5px;      
    width: 90%;
    border: none;  
    margin: 0 auto 20px; 
}

.ordenar{
    
    flex-direction: row;
    width: 100%;
    padding: 0 5vw 10px;
    justify-content: space-between;
    align-items: center;
    display: none;    
}
.ordenar .grilla img{
    margin-right: 15px;
    margin: 10px 10px 0 0;
    width: 30px;
    cursor: pointer;
}
.ordenar input{
    height: 15px;
}
@media (min-width: 768px){
    .ordenar{
        display: flex;
        margin: 5px auto 10px;
        border-bottom: 1px solid var(--tipos);
    }    
    .hr-mobile{
        display: none;
    }   
}      
@media (min-width: 1024px){
    .base{
        width: 99vw;
        /* height: 99vh;  */   
        padding: 20px 20px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-evenly;
    }
    .external-container{
        width: 70%;
    }
    .titleCat span{
        font-size: 22px;
    }
    .ordenar{
        display: none;
    }
    .menu-lateral{
        display: flex;
        flex-direction: column;
        width: 15%;
        /* height: 75vh; */
        left: 0px;
        /* justify-content: initial; */
        font-size: 22px;
        border-right: 1px solid var(--tipos);
        background-color: white;
        background-image: url(/image/lateral.png);
        background-repeat: no-repeat;
    }
    .menu-lateral .sub-menu li a{
        font-size: 16px;
    }
    .menu-lateral .sub-titulo{
        border: none;
        height: 25px;
        margin: 7px;
        border-bottom: 2px solid var(--header);
    }
    .menu-lateral .sub-menu{
        display: flex;
    }
    @keyframes twist {
    }
    .menu-lateral .sub-titulo{
        margin-bottom: 15px;
    }
    .menu-lateral .sub-titulo p{
        width: 100%;
        display: flex;
        justify-content: left;
        margin-bottom: 15px;
    }
    
}
