
:root{
    --grey : #444444;
    --red : #b92519;
    --tipos:#152847;
    --header:#4F8DF0;    
    --background:#f7f8fb;    
}

a{
    text-decoration: none;
}
.text-danger{
    font-size: 10px;
}
.main{
    width: 95%;
    height: 100vh;
    padding: 5px;
    margin: auto;
    /* border: 1px solid red; */
}
.main label{
    font-size: 12px;
}
.exterior{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
}
.container-register{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;    
    margin: 0 auto 0;   
    justify-content: center;
    align-items: center; 
    color: var(--tipos);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
    /* border: 1px solid red; */

}

.container-register .welcome{
    margin: 5px auto 0px;
    text-align: center;
    /* border: 1px solid black; */
}
.welcome h3{
    margin: 0;
}
.subTitle {
    margin-bottom: 10px;
}

.container-register .my-data{
    display: flex;
    flex-direction: column;   
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section1{
    display: flex;
    flex-direction: column;

    width: 100%;
    margin: 0%;
    padding: 0;
    /* border: .5px solid black; */
}
.section2{
    width: 60%;
    margin: 0%;
    padding: 0;
    /* border: .5px solid black; */
}
.section3{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 40%;
    margin-top: 40px;
    padding-top:5px;
    padding-bottom: 5px;
    /* border: .5px solid black; */
}

.complete{
    font-weight: bold;
    font-size: 13px;
    text-decoration: underline;
    margin-bottom: 10px; 
       
}

.input{
    border: 1px solid var(--tipos);
    margin-bottom: 5px;
    height: 4vh;
    outline: none;
    font-size: 12px;
    padding-left: 10px;
    
}
.input:hover{
    border: 2px solid var(--header);
}
.inputMask{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: var(--tipos);
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin: 0 auto 0;    
    overflow: hidden;   
    position: relative;
    width: 85%;
    height: 5vw;
    border: 1px solid var(--tipos);
    border-radius: 35px;
}
.inputOut{
    border: 10000px solid transparent;
    cursor: pointer;
    font-size: 10000px;
    margin: 0;
    opacity: 0;
    outline: 0 none;
    padding: 0;
    position: absolute;
    right: -1000px;
    top: -1000px;
}
/* .inputFileSize::before{
    content: "seleccione una imagen";
} */



.container-register .my-data #myInput{
    width: 100%;
    display: flex;
    /* align-items: center;
    justify-content: center; */
}
.container-register .my-data #myInput2{
    width: 100%;
    margin-bottom: 0px;
}
.container-register .name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.left-side{
    width: 48%;
    display: flex;
    flex-direction: column;
}
.left-side .nameInput{
    border: 1px solid var(--tipos);
    padding-left: 10px;
}
.left-side .nameInput:hover{
    border: 2px solid var(--header);
}
.right-side{
    width: 48%;
    display: flex;
    flex-direction: column;   
}
.right-side .nameInput{
    border: 1px solid var(--tipos);
    padding-left: 20px;
}
.right-side .nameInput:hover{
    border: 2px solid var(--header);
}
 .name .nameLabel{
    width: 40%;
    font-size: 12px;
}

.section2 .pass1{
    display: flex;
    width: 100%;
    position: relative;
}
.section2 .pass1 #eye1{
    position: absolute;
    align-items: center;
    margin-top: 2px;
    color: var(--header);
    right: 10px;
}
.section2 .pass1 #eye1:hover{
    color: var(--tipos);
}
.midle{
    width: 100%;
}
.section2 .pass2{
    display: flex;
    width: 100%;
    position: relative;
}
.section2 .pass2 #eye2{
    position: absolute;
    align-items: center;
    margin-top: 2px;
    color: var(--header);
    right: 10px;
}
.section2 .pass2 #eye2:hover{
    color: var(--tipos);
}
.container-register .register-button{
    width: 50%;
    height: 5vh;
    margin: 10px auto 5px;
    background-color: var(--header);
    border: none;
}
.container-register .register-button:hover{
    background-color: #2f7cf7;
    color: white;
    font-weight: bold;    
}
.login-cont{
    display: flex;
    justify-content: center;
}
.ingresa{
    display: flex;
   /*  width: 40%; */
    justify-content: center;
    color: var(--tipos);
}
.
.ingresa:hover{
    color: var(--header);
}
/* .container-register ::placeholder{
    color: var(--header);
} */
.images{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 20vw;
    height: 20vw;
    margin: 5px;
    /* border: .5px solid black; */
    

}
.images img {
    /* width: 100%; */
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 50%;
    border: .5px solid var(--header);
    box-shadow: 0px 0px 10px rgba(6, 40, 140, 0.25);
    
}
.section3 #errorImage{
    font-size: 11px;
    color: var(--red);
}
.validate{
    display: flex;
    width: 100%;
    justify-content: center;    
}
.validate .val{
    text-decoration:none;
    color: var(--red);
}
.validate{
    display: none;
}

@media (min-width: 768px) {
    /* ################# */
    .container-register{
        width:68%;
    }
    .exterior {
        width: 90%;
    }
    /* ##################### */
    .main{
        width: 100%;
        height: 100vh;
        padding: 10px;
    }
    .exterior{
        
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 2px solid green; */
    }
    .container-register{
        display: flex;
        flex-direction: column;
       
        height: 100%;    
        margin: 0 auto 0;   
        justify-content: center;
        align-items: center; 
        color: var(--tipos);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
    
    }
    .inputMask{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: var(--tipos);
        cursor: pointer;
        font-size: 12px;
        font-weight: bold;
        margin: 0 auto 0;    
        overflow: hidden;   
        position: relative;
        width: 70%;
        height: 3vw;
        border: 1px solid var(--tipos);
        border-radius: 35px;
    }
    .images{
        /* display: flex;
        justify-content: center;
        align-items: center; */
        width: 10vw;
        height: 10vw;
        margin: 5px;
        /* border: .5px solid black; */
        
    
    }
    
    .images img {
        /* width: 100%; */
        width: 10vw;
        height: 10vw;
        object-fit: cover;
        border-radius: 50%;
        border: .5px solid var(--header);
        box-shadow: 0px 0px 10px rgba(6, 40, 140, 0.25);
        
    }
    .container-register .my-data{
        display: flex;
        flex-direction: column;   
        width: 100%;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .section1{
        display: flex;
        flex-direction: column;
    
        width: 100%;
        margin: 0%;
        padding: 0;
        /* border: .5px solid black; */
    }
    .section2{
        width: 50%;
        margin: 0%;
        padding: 0;
        /* border: .5px solid black; */
    }
    .section3{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        width: 50%;
        padding-top:5px;
        padding-bottom: 5px;
        margin-top: 10px;
        /* border: .5px solid black; */
    }





}
@media (min-width: 1024px){
    /* .container-register{
        width: 50%;
    } */
}

