.container-user{
    display: flex;
flex-wrap: wrap;

}
.titulo-login{
 width: 100%;
}
.datos-user  .item-data{
display: inline;
font-size: 14px;
}
.datos-user p{
display: flex;
}
.imagen-perfil{
    display: flex;
    width: 90px;
    height: 90px;
    background-color: rgb(12, 12, 92);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    margin-top: 15px;
    color:  white;
    font-weight:  bold;
}
.img-user{
    width: 100%;
    display: flex;
    justify-content: center;
}
.datos-user{
    width: 100%;
    margin-top: 15px;
    margin: 0 auto;
}
.datos-user .data{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
}
.btn-user{
    display: inline-block;
    background-color: #4f8df0;
    width: 150px;
    height: 40px;
    font-size: 20px;
    border: solid 1px #4f8df0;
    text-align: center;
    margin: 20px;
}
.btn-user:hover{
    color: white;
    background-color: #3b7adf;
} 
.profile-btn{
    display: flex;
    justify-content: center;
}

    /*  VERSIÓN TABLET  */
    @media (min-width: 768px) {
        .imagen-perfil{
            width: 180px;
            height: 180px;
            margin:  50px auto;
            font-size:  16px;
        }
        .datos-user{
            width: 50%;
            margin: 0 auto;
        }
        .datos-user .data{
            width: 100%;
            font-size: 16px;
            justify-content: space-between;
        }
        .img-user{
            width: 30%;
        }
        .datos-user .item-data  {
            font-size: 15px;
            }
            .btn-user{
                width: 140px;
                height: 30px;
                font-size: 19px;
            }
        
        }
    
    /*  VERSIÓN DESKTOP  */
    @media (min-width: 992px) {
        .imagen-perfil{
            width: 200px;
            height: 200px;
        }
        .datos-user .data{
            width: 100%;
            font-size:  24px;
            justify-content: space-around;
        }
        .img-user{
            width: 30%;
        }
        .datos-user{
            width: 70%;
        }
        .datos-user .item-data{
            font-size: 22px;
            }
            .btn-user{
                width: 160px;
                height: 45px;
                font-size: 22px;
            }
        }
