<<<<<<< HEAD

body{
    height: 100vh;
}
.mainEditUser{
    display: flex;
    justify-content: center;
    width: 100vw;
  
    /* height: 100vh; */
}
.form{
    width: 95%;
    display: flex;
    justify-content: center;
  
}
.container-user{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
    width: 95%;
    margin: 10px;
}
.titleC{
    display: flex;
    justify-content: center;
=======
.container-user{
    display: flex;
flex-wrap: wrap;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 25%);
    margin: 20px 40px;
>>>>>>> bfac25fefb2b795fccadc461d192a0a2e33786e8
}
.titulo-login{
 width: 100%;
 font-weight: bold;    
}
.datos-user  .item-data{
display: inline;
font-size: 14px;
}
.datos-user p{
display: flex;
margin-bottom: 5px;
}
<<<<<<< HEAD

.sectionM{
=======
.imagen-perfil{
>>>>>>> bfac25fefb2b795fccadc461d192a0a2e33786e8
    display: flex;
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 50%;
    border: solid 3px #152847;
    align-items: center;
<<<<<<< HEAD
    margin: 0;
=======
    justify-content: center;
    font-size: 11px;
    margin-top: 15px;
    color:  white;
    font-weight:  bold;
>>>>>>> bfac25fefb2b795fccadc461d192a0a2e33786e8
}
.img-user{
    width: 100%;
    display: flex;
    justify-content: center;
}
.avatar-user{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border:solid 2px #152847;
}
.datos-user{
    width: 100%;
    margin-top: 15px;
    margin: 0 auto;
}
.datos-user .data{
    width: 100%;
    display: flex;
<<<<<<< HEAD
    flex-direction: row;
    width: 95%;
    justify-content: flex-end;
    /* justify-content: space-between; */
    margin-bottom: 5px;
   /*  border: 1px solid green; */
=======
    justify-content: space-around;
    font-size: 14px;
>>>>>>> bfac25fefb2b795fccadc461d192a0a2e33786e8
}

.btn-user{
    display: inline-block;
    background-color: #4f8df0;
    width: 120px;
    height: 30px;
    font-size: 14px;
    border: solid 1px #4f8df0;
    text-align: center;
    margin: 20px;
}



.btn-user:hover{
    color: white;
    background-color: #3b7adf;
    font-weight: bold;    
} 
<<<<<<< HEAD
.bEdit{
    display: flex;
    
    justify-content: center;
    align-items: center;
    /* background-color: #4f8df0;
    width: 120px;
    height: 30px;
    font-size: 14px;
    border: solid 1px #4f8df0;
    text-align: center;
    margin: 0;
    border-radius: 5px; */
}
.pEdit{
    
    font-size: 14px;
    margin-top: 5px;
    
}
.datos-user{
=======
.profile-btn{
>>>>>>> bfac25fefb2b795fccadc461d192a0a2e33786e8
    display: flex;
    justify-content: center;
}

/*CSS PARA EDICIÓN DE PERFIL DE USUARIO*/
.datos-user .data-edit{
    width: 95%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.data-edit input{
    width: 50%;
    font-size: 14px;
    margin-bottom: 4px;
    padding-left: 10px;
}
.data-edit input:hover{
    border:solid 2px #4f8df0;
    }
    
.data-edit{
/*     margin-bottom: 5px; */
    margin: auto;
}
.data-edit .item-data{
    padding-top: 6px;
    }
.img-edit{
    color:#4f8df0;
font-size: 10px;
}
/* .container-user-edit{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
}
.
 */
 .carga-imagen{
     text-align: center;
 }
 .imagen-perfil-edit{
    display: flex;
    width: 90px;
    height: 90px;
    background-color: rgb(12, 12, 92);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    margin-top: 15px;
    color:  white;
    font-weight:  bold;
    margin:15px 23px 8px 50px;
}
/*  VERSIÓN TABLET  */
    @media (min-width: 768px) {
<<<<<<< HEAD
        .container-user{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            width: 80%;
            padding-bottom: 5px;
=======
        .imagen-perfil{
            width: 180px;
            height: 180px;
            margin:  50px auto;
            font-size:  16px;
        }
        .imagen-perfil-edit{
            width: 180px;
            height: 180px;
            margin:  50px auto;
            font-size:  16px;
            margin: 30px 11px 10px 80px;
        }
        .img-edit{
            color:#4f8df0;
        font-size: 14px;
        margin-left: 40px;
        }
        .datos-user{
            width: 50%;
            margin: 0 auto;
        }
        .datos-user .data{
            width: 100%;
            font-size: 16px;
            justify-content: space-between;
        }
        .img-user{
            width: 30%;
            margin-top: 40px;
        }
        .datos-user .item-data  {
            font-size: 15px;
>>>>>>> bfac25fefb2b795fccadc461d192a0a2e33786e8
            }
        .titleC{
             width: 100%;
             font-size: 30px;
             font-weight: bold; 
             margin:0px 0px 30px;   
             padding: 0;
            }
<<<<<<< HEAD
        .sectionM{
            width: 28%;
            margin: 0 0 70px 25px;
        }
        .imagesReg1{
            width: 15vw;
            height: 15vw;
            margin: 25px;
        }
        .imagesReg1 img{
            width: 15vw;
            height: 15vw; 
        }
        .datos-user{
            display: flex;
            flex-direction: column;
        /*  */    align-items: center;
            width: 50%;
            margin: 0 ;
        }
        .contbutton{
            display: flex;
            flex-direction: row;
            width: 95%;
        }
        .btn-user{
            width: 130px;
            height: 40px;
            font-size: 14px;
        }
        

    }
    /*  VERSIÓN DESKTOP  */
    @media (min-width: 1024px) {
        .container-user{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            width: 65%;
            padding-bottom: 5px;
            }
    } 
        
        
        
        
=======
        
        }
    
    /*  VERSIÓN DESKTOP  */
    @media (min-width: 992px) {
        .imagen-perfil{
            width: 200px;
            height: 200px;
        }
        .datos-user .data{
            width: 100%;
            font-size:  22px;
            justify-content: space-around;
        }
        .img-user{
            width: 30%;
        }
        .datos-user{
            width: 70%;
        }
        .datos-user .item-data{
            font-size: 22px;
            }
            .btn-user{
                width: 160px;
                height: 45px;
                font-size: 22px;
            }
            .img-edit{
                color:#4f8df0;
            font-size: 16px;
            margin-left: 40px;
            }
        }
>>>>>>> bfac25fefb2b795fccadc461d192a0a2e33786e8
